{
    "name": "{{ minibadgeVersion }}",
    "config": {
        "main" : "fr.openent.minibadge.Minibadge",
        "port" : 8131,
        "app-name" : "MiniBadge",
        "app-address" : "/minibadge",
        "app-icon" : "https://${host}/minibadge/public/img/uni-minibadge.svg",
        "host": "https://{{ host }}",
        "ssl" : true,
        {% if overrideTheme %} "override-theme": {{ override2d }}, {% endif %}
        "auto-redeploy": false,
        "userbook-host": "https://{{ host }}",
        "integration-mode" : "HTTP",
        "app-registry.port" : 8012,
        "mode" : "prod",
        "sql": true,
        "entcore.port" : 8009,
        "db-schema": "minibadge",
        "publicConf": {
           "xiti": {
              "LIBELLE_SERVICE": {
                  "default": "PAGE_ENT"
              }
           }
        }
    }
}