.minibadge-badge {
  &-list {
    margin-top: 30px;
    background: $minibadge-white;
    padding-bottom: 15px;
    @include paddingX(10px);

    &.disabled {
      opacity: 0.5;
    }

    h3 {
      display: flex;
      i.play {
        display: flex;
        transform: rotate(0deg);
        transition: transform 0.2s linear;

        &.opened {
          transform: rotate(90deg);
          transition: transform 0.2s linear;
        }
      }
    }

    &-cards {
      gap: 15px;

      .minibadge-card {
        @include mobile {
          width: 100%;
          flex-direction: row;
          height: 112px;
        }

        &-body {
          @include mobile {
            flex: revert;
            width: 180px;
          }
        }
      }
    }
  }
}

