.given-array {
  background-color: $minibadge-white;
  padding: 1em;
  border-radius: 10px;

  & i {
    margin: 0 1%;
    font-size: 1.3em;
  }

  &-head {
    background-color: $minibadge-blue;
    color: $minibadge-white;
    justify-content: space-between;
  }

  &-row {
    border-top: 1px solid $minibadge-grey-light;
    justify-content: space-between;
  }

  &-img {
    padding-right: 1em;
    @include mobile {
      padding-right: 0;
    }
    max-width: 70%;
  }

  &-label {
    width: 30%;
    @include mobile {
      width: 75%;
    }
  }

  &-img img {
    max-width: 85%;
  }

  &-cell {
    padding: 1em;
    @include mobile {
      padding: 0;
    }
  }
}