i {
  &.calendar-range::before {
    font-family: 'material-icons';
    content: "\F678";
  }

  &.user-circle::before {
    font-family: 'material-icons';
    content: "\F009";
  }

  &.close::before {
    font-family: 'material-icons';
    content: "\F156";
  }

  &.chevron-left::before {
    font-family: 'material-icons';
    content: "\F141";
  }
}
