.minibadge-search {
  flex: 1;
  line-height: 35px;
  background: $minibadge-white;
  border: solid $minibadge-grey-lighter 2px;
  border-radius: 5px;
  text-align: right;
  font-size: 18px;
  width: 100%;
  min-width: 370px;

  &:focus-within {
    color: $minibadge-blue;
    border-color: $minibadge-blue;
  }

  @include mobile {
    @include marginX(10px);
  }

  .search {
    margin: 0;
    width: 25px;
  }

  &-input {
    width: 100%;
    height: auto;
    margin: 0;
    box-shadow: none;
    border-bottom: none;
    &:focus {
      box-shadow: none;
      border-bottom: none;
    }
  }
}
