.minibadge-types {
  &-header {
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
  }
  &-chip-container {
    display: flex;
    flex-wrap: wrap;
    padding-left: "8px";
    gap: 16px;
  }
}
