.minibadge-user-list {
  flex: 1;
  height: auto;

  &-items {
    padding-inline-start: 20px;
    column-count: 2;
    @include mobile {
      column-count: 1;
    }
    @include tablet {
      column-count: 1;
    }
  }

  &-item {
    display: flex;
    align-items: center;
    overflow: hidden;

    &-precision {
      font-style: italic;
    }

    &-profile {
      display: flex;
      align-items: center;
      gap: 6px;
      border-radius: 100px;
      border: 1px solid #0000001A;
      padding: 0 8px;
      margin-right: 8px;
      &-color {
        border-radius: 50%;
        width: 10px;
        height: 10px;
      }
    }
  }

  .minibadge-paging {
    justify-content: flex-end;
    margin-top: auto;
  }
}

