<div ng-controller="BadgeTypesController as vm" class="minibadge-container flex-row f-column">
    <h2>
        <i18n>minibadge.navbar.badges.library</i18n>
    </h2>
    <search-input search-query="vm.searchQuery" on-search="vm.initBadgeTypes()" placeholder="minibadge.badge.search"></search-input>
    <div class="minibadge-card-list flex-row f-wrap justify-center">
        <minibadge-card-type ng-repeat="badgeType in vm.badgeTypes" badge-type="badgeType"
                             on-body-click="vm.redirectBadgeType(badgeType)"
                             on-footer-click="vm.onOpenLightbox(badgeType)"
                             click-path="badgeType.getDetailPath()"
                             footer="vm.CARD_FOOTER.AWARD_BADGE">
        </minibadge-card-type>
    </div>
    <infinite-scroll scrolled="vm.onScroll()" loading-mode="true"></infinite-scroll>
    <sniplet template="badge-assign" application="minibadge"></sniplet>
</div>