<div ng-controller="MinibadgeController as vm">
    <search-input search-query="vm.searchQuery" on-search="vm.initBadges()"
                  placeholder="minibadge.badge.search"></search-input>

    <minibadge-badge-list label="'minibadge.badges.public'" card-icon="'icon-eye'" badges="vm.publishedBadges">
    </minibadge-badge-list>

    <minibadge-badge-list label="'minibadge.badges.private'" card-icon="'eye-off'" badges="vm.privatizedBadges">
    </minibadge-badge-list>

    <minibadge-badge-list label="'minibadge.badges.refuse'" card-icon="'refused'" badges="vm.refusedBadges"
                          is-opened-option="vm.isOpenedOption"
                          is-default-opened-list="false"
                          >
    </minibadge-badge-list>
</div>