<div ng-controller="StatisticsController as vm" class="minibadge-statistics">
    <minibadge-container label="'minibadge.statistics.participation'">
        <container-body class="minibadge-statistics-participation flex-row f-column">
            <div>
                <i18n>minibadge.filter.stats.per.period</i18n>
                <label>
                    <input type="radio"
                        ng-model="vm.selectedPeriod"
                        ng-change="vm.onChangePeriod()"
                        value="all">
                    <i18n>minibadge.filter.stats.complete.history</i18n>
                </label>

                <label>
                    <input type="radio"
                        ng-model="vm.selectedPeriod"
                        ng-change="vm.onChangePeriod()"
                        value="30days">
                    <i18n>minibadge.filter.stats.last.thirty.days</i18n>
                </label>

                <label>
                    <input type="radio"
                        ng-model="vm.selectedPeriod"
                        ng-change="vm.onChangePeriod()"
                        value="7days">
                    <i18n>minibadge.filter.stats.last.seven.days</i18n>
                </label>
            </div>
            <div class="minibadge-statistics-cards flex-row">
                <minibadge-statistics-card
                        class="minibadge-statistics-count-allowed">
                    <div>
                        <div class="flex-row">
                            <i class="check-decagram"></i>
                            <div>
                                [[vm.translate('minibadge.statistics.badges.assigned',
                                [vm.toLocaleString(vm.statistics.countBadgeAssigned)])]]
                            </div>
                        </div>
                        <div class="flex-row">
                            <i class="user"></i>
                            <div>
                                [[vm.translate('minibadge.active.users',
                                [vm.toLocaleString(vm.statistics.countActiveUsers)])]]
                            </div>
                        </div>
                    </div>
                </minibadge-statistics-card>
                <minibadge-statistics-card class="minibadge-statistics-top-structures"
                                           ng-if="vm.hasStatisticsViewAllStructuresRight() && vm.statistics.mostAssigningStructures.length"
                                           label="vm.translate('minibadge.statistics.most.active.structures')">
                    <container-body class="flex-row">
                        <minibadge-card body-icon="'trophy'"
                                        label="vm.translate('minibadge.statistics.top',
                                    [vm.statistics.mostAssigningStructures.length])">
                        </minibadge-card>
                        <div class="minibadge-statistics-top-structures-list">
                            <minibadge-list items="vm.statistics.mostAssigningStructures" show-number="true">
                            </minibadge-list>
                        </div>
                    </container-body>
                </minibadge-statistics-card>
            </div>
            <!-- <div class="minibadge-statistics-cards flex-row" ng-if="vm.statistics.topAssigningUsers.length ||
            vm.statistics.topReceivingUsers.length">
                <minibadge-statistics-card class="minibadge-statistics-top-receiving"
                                           ng-if="vm.statistics.topReceivingUsers.length"
                                           label="vm.translate('minibadge.statistics.most.awarded.users')">
                    <container-body class="flex-row">
                        <minibadge-card body-icon="'trophy'"
                                        label="vm.translate('minibadge.statistics.top',
                                    [vm.statistics.topReceivingUsers.length])">
                        </minibadge-card>
                        <div class="minibadge-statistics-top-receiving-users">
                            <minibadge-list items="vm.statistics.topReceivingUsers" show-number="true">
                            </minibadge-list>
                        </div>
                    </container-body>
                </minibadge-statistics-card>
                <minibadge-statistics-card class="minibadge-statistics-top-assigning"
                                           ng-if="vm.statistics.topAssigningUsers.length"
                                           label="vm.translate('minibadge.statistics.most.generous.users')">
                    <container-body class="flex-row">
                        <minibadge-card body-icon="'trophy'"
                                        label="vm.translate('minibadge.statistics.top',
                                    [vm.statistics.topAssigningUsers.length])">
                        </minibadge-card>
                        <div class="minibadge-statistics-top-assigning-users">
                            <minibadge-list items="vm.statistics.topAssigningUsers" show-number="true">
                            </minibadge-list>
                        </div>
                    </container-body>
                </minibadge-statistics-card>
            </div> -->
        </container-body>
    </minibadge-container>
    <minibadge-container label="'minibadge.filter.stats.per.type'">
        <div>
            <label>
                <input type="radio"
                    ng-model="vm.selectedType"
                    value="badges">
                <i18n>minibadge.badges.option</i18n>
            </label>

            <label>
                <input type="radio"
                    ng-model="vm.selectedType"
                    value="users">
                <i18n>minibadge.users.option</i18n>
            </label>
        </div>
        <container-body ng-if="!!vm.statistics.mostAssignedTypes.length || !!vm.statistics.mostRefusedTypes.length"
                            label="'minibadge.statistics.badges'" class="minibadge-container-badges">
            <container-body class="flex-row f-column">
                <div class="minibadge-statistics-badges flex-row">
                    <minibadge-statistics-card
                            ng-if="!!vm.statistics.mostAssignedTypes.length"
                            class="minibadge-statistics-top-most-allowed"
                            icon="'check-circle'"
                            label="vm.translate('minibadge.statistics.most.allowed.badges',
                            [vm.statistics.mostAssignedTypes.slice(0, 3).length])">
                        <container-body>
                            <div class="minibadge-most-assigned flex-row">
                                <minibadge-card-type badge-type="vm.statistics.mostAssignedTypes[0]"
                                                    class="minibadge-card-simple">
                                </minibadge-card-type>
                                <div class="minibadge-most-assigned-detail flex-row f-column">
                                    <minibadge-title icon="'check-decagram'">
                                    <span>[[vm.translate('minibadge.statistics.assigned.times',
                                        [vm.toLocaleString(vm.statistics.mostAssignedTypes[0].countAssigned)])]]</span>
                                    </minibadge-title>
                                    <minibadge-title ng-if="vm.statistics.mostAssignedTypes[0].mostAssigningUsers.length"
                                                    icon="'trophy'">
                                    <span>[[vm.translate('minibadge.statistics.top',
                                        [vm.statistics.mostAssignedTypes[0].mostAssigningUsers.length])]]</span>
                                    </minibadge-title>
                                    <minibadge-list ng-if="vm.statistics.mostAssignedTypes[0].mostAssigningUsers.length"
                                                    is-end-distinction="true"
                                                    items="vm.statistics.mostAssignedTypes[0].mostAssigningUsers">
                                    </minibadge-list>
                                </div>
                                <div ng-if="vm.statistics.mostAssignedTypes.length > 1"
                                    class="minibadge-most-assigned-others flex-row f-column">
                                    <div ng-repeat="type in vm.statistics.mostAssignedTypes.slice(1, 3)" class="flex-row">
                                        <minibadge-card-type-statistic badge-type="type">
                                        </minibadge-card-type-statistic>
                                    </div>
                                </div>
                            </div>
                        </container-body>
                    </minibadge-statistics-card>
                    <minibadge-statistics-card
                            ng-if="!!vm.statistics.mostRefusedTypes.length"
                            class="minibadge-statistics-top-most-refused"
                            icon="'close-circle'"
                            label="vm.translate('minibadge.statistics.most.refused.badges', [vm.statistics.mostRefusedTypes.length])">
                        <container-body>
                            <div class="flex-row">
                                <div ng-repeat="type in vm.statistics.mostRefusedTypes"
                                    class="flex-row flex-one justify-center">
                                    <minibadge-card class="minibadge-card-simple flex-one">
                                        <container-body class="flex-row f-column">
                                            <div class="minibadge-card-picture flex-row justify-center">
                                                <img ng-src="/minibadge/public/img/[[type.pictureId]]"/>
                                            </div>
                                            <div class="flex-row justify-center align-center">
                                                [[type.label]]
                                            </div>
                                        </container-body>
                                        <container-footer>
                                            <div class="flex-row justify-center align-center">
                                                [[vm.translate('minibadge.statistics.refused.times', [type.countRefused])]]
                                            </div>
                                        </container-footer>
                                    </minibadge-card>
                                </div>
                            </div>
                        </container-body>
                    </minibadge-statistics-card>
                </div>
                <minibadge-statistics-card
                        ng-if="!!vm.statistics.mostAssignedTypes.length"
                        class="minibadge-statistics-most-allowed"
                        icon="'trophy'"
                        label="vm.translate('minibadge.statistics.most.allowed.badges', [vm.statistics.mostAssignedTypes.length])">
                    <container-body>
                        <div class="minibadge-most-assigned flex-row">
                            <minibadge-column-graph items="vm.statistics.mostAssignedTypes"></minibadge-column-graph>
                        </div>
                    </container-body>
                </minibadge-statistics-card>
                <minibadge-statistics-card
                        ng-if="!!vm.statistics.lessAssignedTypes.length"
                        class="minibadge-statistics-less-allowed"
                        icon="'icon-badge'"
                        label="vm.translate('minibadge.statistics.less.allowed.badges', [vm.statistics.lessAssignedTypes.length])">
                    <container-body>
                        <div ng-if="vm.statistics.lessAssignedTypes.length > 1"
                            class="minibadge-less-assigned flex-row">
                            <minibadge-column-graph items="vm.statistics.lessAssignedTypes"></minibadge-column-graph>
                        </div>
                    </container-body>
                </minibadge-statistics-card>
            </container-body>
        </container-body>
    </minibadge-container>
</div>