<div class="minibadge-card flex-row f-column centered-text" ng-click="vm.clickRedirect()">
    <div class="minibadge-card-body flex-row f-column">
        <div class="minibadge-card-picture flex-row justify-center">
            <img ng-src="/minibadge/public/img/[[vm.badgeType.pictureId]]" />
        </div>
        <div class="minibadge-card-title flex-row justify-center align-center bold">[[vm.badgeType.label]]</div>
    </div>
    <award-badge-footer ng-if="vm.CARD_FOOTER.AWARD_BADGE === vm.footer" badge-type="vm.badgeType"></award-badge-footer>
</div>