<div>
    <lightbox show="vm.isLightboxOpened" on-close="vm.closeLightbox()" class="minibadge-chart">
        <div class="minibadge-container minibadge-chart flex-row f-column">
            <h1 class="minibadge-chart-title">
                <i18n>minibadge.chart.welcome</i18n>&nbsp;&excl;
            </h1>
            <p>
                <i18n>minibadge.chart.consent.needing</i18n>&nbsp;&#58;
            </p>
            <p class="flex-row align-center">
                <span><i18n>minibadge.chart.receive.accept</i18n></span>&nbsp;
                <span>
                    <switch ng-model="vm.isMinibadgeAccepted">
                        <label class="switch"> </label>
                    </switch>
                </span>
            </p>
            <div>
                <h2>
                    <i18n>minibadge.chart.title</i18n>
                </h2>
                <p>
                    <i18n>minibadge.chart.text.1</i18n>
                </p>
                <p>
                    <i18n>minibadge.chart.text.2</i18n>
                </p>
                <p>
                    <i18n>minibadge.chart.text.3</i18n>
                </p>
                <p>
                    <i18n>minibadge.chart.text.4</i18n>
                </p>
            </div>

            <label class="checkbox flex-row">
                <input type="checkbox" ng-change="vm.changeChartAcceptationStatus()" ng-model="vm.isChartAccepted"/>
                <span><i18n>minibadge.chart.accept</i18n></span>
            </label>

            <div class="minibadge-chart-footer flex-row justify-end">
                <button ng-click="vm.validChart()" ng-disabled="vm.isMinibadgeAccepted && !vm.isChartAccepted">
                    <i18n>minibadge.validate</i18n>
                </button>
            </div>
        </div>
    </lightbox>
</div>