<div class="minibadge-badge minibadge-badge-list minibadge-container flex-row f-column"
     ng-class="{ disabled: !vm.badges || !vm.badges.length }">
    <h3 ng-click="vm.clickList()">
        <i class="play" ng-class="{ opened: (vm.isOpenedList || vm.isOpenedOption) && vm.badges && !!vm.badges.length }"></i>&nbsp;
        <span class="minibadge-badge-list-label">
                 [[vm.lang.translate(vm.label)]]
        </span>
    </h3>
    <div class="minibadge-badge-list-cards flex-row f-wrap" ng-show="vm.isOpenedList || vm.isOpenedOption">
        <minibadge-card-type ng-repeat="badge in vm.badges"
                             badge-type="badge.badgeType"
                             badge="badge"
                             on-footer-click="vm.redirectBadgeType(badge.badgeType)"
                             on-body-click="vm.redirectBadgeType(badge.badgeType)"
                             footer="vm.CARD_FOOTER.BADGE_DETAIL"
                             body-icon="vm.cardIcon"
                             is-disabled="vm.areCardDisabled">
        </minibadge-card-type>
    </div>
</div>