.badge-given{
  &-header {
    justify-content: space-between;
    align-items: flex-end;
  }
  &-filter{
    display: flex;
    align-items: end;
    margin-top: 10px;
    flex: 1;

    @include mobile{
      margin-left: 8px;
    }

    .periode-picker-container {
      margin-right: 10px;
    }
  }
  &-revoke-button {
    margin-bottom: 0 !important;
  }
  &-search{
    margin-top: revert;
  }
}