.minibadge-assign {

  section.lightbox {
    @include mobile {
      position: absolute;
    }
  }

  .background::after {
    @include mobile {
      background: none;
    }
  }

  .background::before {
    @include mobile {
      box-shadow: 0 2px 5px $shadow;
      height: 50px;
    }
  }

  .content {
    width: 900px;
    margin-top: 10em;

    @include mobile {
      position: fixed;
      width: 100%;
      padding: 0;
      margin: 0;
    }
  }

  &-title {
    &:hover {
      color: $minibadge-blue;
    }

    &:active {
      color: $minibadge-blue-dark;
    }
  }

  &-footer {
    margin-top: 10px;
    @include mobile {
      justify-content: center;
    }

    button:not(:last-child) {
      margin-right: 20px;
      min-width: 148px;
    }
  }

  &-content {
    flex-direction: row-reverse;
    @include mobile {
      flex-direction: column;
    }

    &-card {
      display: flex;
      justify-content: end;
      margin-right: 2em;
      margin-bottom: 2em;
      @include mobile {
        flex: 1;
        justify-content: center;
      }
    }

    &-search {
      @include mobile {
        justify-content: center;
        align-items: center;
      }
      margin-left: 1em;
      .search-user {
        width: 100%;
      }
    }
  }

  .minibadge-card-simple-full {
    @include mobile {
      align-self: center;
      border: solid $minibadge-shadow-light 1px;
      width: 100%;
    }
  }
}

