.minibadge-revoke-users {

  section.lightbox {
    @include mobile {
      position: absolute;
    }
  }

  .background::after {
    @include mobile {
      background: none;
    }
  }

  .background::before {
    @include mobile {
      box-shadow: 0 2px 5px $shadow;
      height: 50px;
    }
  }

  .content {
    width: 900px;
    margin-top: 10em;

    @include mobile {
      position: fixed;
      width: 100%;
      padding: 0;
      margin: 0;
    }
  }

  &-title {
    margin-top: 0 !important;
    
    border-radius: 4px;
  }

  &-info {
    background-color: #D2EFFF59;
    gap: 1rem;
    padding: 1rem;
    &-icon {
      color: $minibadge-blue-dark;
    }
  }

  &-content {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &-question {
    margin-bottom: 1rem;
    .li {
      margin-bottom: .5rem;
    }
  }

  &-footer {
    margin-top: 10px;
    @include mobile {
      justify-content: center;
    }

    &-warning {
      color: $minibadge-red;
    }

    &-buttons {
      margin-left: auto;
      gap: 1rem;

      button {
        margin-right: 20px;
        min-width: 148px;
      }
    }
  }

  &-confirm {
    section.lightbox {
    @include mobile {
      position: absolute;
    }
  }

  .background::after {
    @include mobile {
      background: none;
    }
  }

  .background::before {
    @include mobile {
      box-shadow: 0 2px 5px $shadow;
      height: 50px;
    }
  }

  .content {
    width: 700px;
    margin-top: 15em;

    @include mobile {
      position: fixed;
      width: 100%;
      padding: 0;
      margin: 0;
    }
  }
  }
}

