body.minibadge, .sniplet.minibadge {
  @import "mixins";

  @include mobile {
    font-size: 12px;
  }

  .mobile-disabled {
    @include mobile {
      display: none;
    }
  }

  portal > div.main > section.main {
    @include mobile {
      padding: 0;
      top: 50px;
    }
  }


  @import "components/index";
  @import "containers/index";
  @import "generics/index";


}


