<div class="minibadge-container minibadge-user-list flex-row f-column">
    <div ng-if="vm.label" class="flex-row">
        <h3>[[vm.lang.translate(vm.label)]] <span ng-if="vm.labelDistinction">&#40;[[vm.labelDistinction]]&#41;</span></h3>
    </div>
    <h4 ng-if="vm.listDistinction">
        <i class="check-decagram"></i>&nbsp;
        [[vm.lang.translate(vm.listDistinction)]]&nbsp;&#58;
    </h4>
    <minibadge-list items="vm.users" is-italic-distinction="true" is-end-distinction="vm.isEndDistinction">
    </minibadge-list>
    <minibadge-paging paging="vm.usersPaging" on-change="vm.pageChange()"></minibadge-paging>
</div>