<div class="minibadge-container minibadge-user-list flex-row f-column">
    <div ng-if="vm.label" class="flex-row">
        <h3>[[vm.lang.translate(vm.label)]] <span ng-if="vm.labelDistinction">&#40;[[vm.labelDistinction]]&#41;</span></h3>
    </div>
    <h4 ng-if="vm.listDistinction">
        <i class="check-decagram"></i>&nbsp;
        [[vm.lang.translate(vm.listDistinction)]]&nbsp;&#58;
    </h4>
    <ul class="minibadge-list flex-row f-column">
        <li class="minibadge-list-item" ng-repeat="user in vm.users track by $index">
            <div ng-if="!!user.profile" class="minibadge-user-list-item-profile">
                <img 
                    ng-if="!!user.displayItemImg()" 
                    class="minibadge-list-item-img"
                    ng-src="[[user.displayItemImg()]]" 
                    on-error-src="/minibadge/public/img/default-avatar.svg"
                />
                <div class="minibadge-user-list-item-profile-color" ng-style="{'background-color': user.getProfileDisplayColor()}"></div>
                <strong><span>[[vm.lang.translate(user.profileToI18n())]]</span></strong>
            </div>
            <span class="minibadge-list-item-display">[[user.displayItem()]]</span>
        </li>
    </ul>
    <minibadge-paging paging="vm.usersPaging" on-change="vm.pageChange()"></minibadge-paging>
</div>