<div class="minibadge-container minibadge-user-list flex-row f-column">
    <h2 ng-if="vm.label">[[vm.lang.translate(vm.label)]]</h2>
    <h3 ng-if="vm.listDistinction">
        <i class="check-decagram"></i>&nbsp;
        [[vm.lang.translate(vm.listDistinction)]]&nbsp;&#58;
    </h3>
    <ul class="minibadge-user-list-items">
        <li class="minibadge-user-list-item" ng-repeat="user in vm.users">
            <img class="minibadge-user-list-item-avatar"
                 ng-src="/userbook/avatar/[[user.id]]?thumbnail=48x48"/>&nbsp;
            <span>[[user.getDisplayName()]]
                <span ng-if="!!vm.userPrecision" class="minibadge-user-list-item-precision">
                    &comma;&nbsp;&nbsp;[[vm.userPrecision({user: user})]]
                </span>
            </span>
        </li>
    </ul>
    <minibadge-paging paging="vm.usersPaging" on-change="vm.pageChange()"></minibadge-paging>
</div>