<!DOCTYPE html>
<html>

<head>
    <title>{{#i18n}}minibadge.title{{/i18n}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script src="/assets/js/entcore/ng-app.js?v=@@VERSION" type="text/javascript" id="context"></script>
    <script src="/minibadge/public/dist/application.js?v=@@VERSION" type="text/javascript"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="text/ng-template" id="empty"></script>
    <link rel="stylesheet" href="/minibadge/public/css/minibadge.css?v=@@VERSION">
    <script>
    </script>
</head>

<body ng-controller="MainController as vm" class="mini-badge">
<portal>
    <div class="minibadge-main-row-title flex-row align-center">
        <h1 class="minibadge-main-title title mobile-disabled flex-row align-center" ng-click="vm.redirectMainView()">
            <img class="application-logo" ng-src="/minibadge/public/img/uni-minibadge.svg"
                 alt="" src="/minibadge/public/img/uni-minibadge.svg">&nbsp;
            <i18n>minibadge.title</i18n>
        </h1>
        <button ng-if="vm.isAllowedToUseMinibadge"
                class="minibadge-button-title-settings mobile-disabled minibadge-mobile-padding-x absolute-position no-margin-bottom"
                ng-click="vm.openChartLightbox()">
            <i class="settings"></i>&nbsp;<i18n>minibadge.settings</i18n>
        </button>
    </div>
    <minibadge-navbar navbar-view-selected="vm.navbarViewSelected"></minibadge-navbar>
    <div class="minibadge-container flex-row f-column">
        <minibadge-container-header container-header="vm.containerHeader"
                                    open-chart-lightbox="vm.openChartLightbox()"
                                    show-chart-lightbox="vm.isAllowedToUseMinibadge"></minibadge-container-header>
        <container template="main"></container>
    </div>
    <minibadge-chart
            ng-if="vm.isAllowedToUseMinibadge"
            is-lightbox-opened="vm.isChartLightboxOpened"
            is-chart-accepted="vm.isChartAccepted"
            is-minibadge-accepted="vm.isMinibadgeAccepted"
            chart-validate="vm.chartValidate()"
            is-revoke-modal-open="vm.isRevokeModalOpen"
            on-close="vm.resetChartValues()"></minibadge-chart>
</portal>
</body>

</html>
